html{
    font-family: "lisu Bosa";
}

body{
    margin: 0;
    padding: 0;
}

html{
    font-size: 17px;
}

/* preambul */
.preambul{
    background-color: rgb(49, 48, 48);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 15%;
    color:white;
}

/* Content */

.content{
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
}

.content_reverse{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 80px;
}

.img_content{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.title_content{
    color:rgb(148, 197, 205);
    display:flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
}
.title_content::before{
    content:"";
    width: 10px;height: 1px;
    background-color :rgb(148, 197, 205);
    position:relative;
    top:50%;left:-15px
    
}
.title_content::after{
    content:"";
    width: 10px;height: 1px;
    background-color :rgb(148, 197, 205);
    position:relative;
    bottom:50%;left:105%
    
}

span{
    color:black;
    font-size: 2.6em;
    margin-top: 15px;
}

.a_content{
    text-decoration: none;
    color:white;
    background-color: rgb(148, 197, 205);
    padding: 5px 20px;
}
/* Hightlights*/


.highlights_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 5%;
}

/* Menu */
.menu_content{
    display: flex;
    width: 50%;
    align-items: center;
    flex-direction: column;

}   

.container_menu_content{
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    width: 100%;
    margin: 40px 0;
   
}

.presentation_menu{
    display:flex;
    border-bottom:1px dashed black;
    justify-content: space-between;
    font-weight: bold;
}

.menu_ingredient{
    font-size: 0.7em;
    color:rgb(92, 92, 92);
    font-style: italic;
}

.menu_column_one{
    width: 40%;
}

/* Fact */ 



.fact{
    width: 50%;  
    display: flex;
    align-items: center;
    flex-direction: column;  
    justify-content: flex-end;
    margin-top: -60px ;
   
}



.div_container_div_svg1,.div_container_div_svg2{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    margin-top: 25%;
}



.layout_div_svg{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    margin-bottom: 0;
    
}




.fact_top{
    display: flex;
    align-items: center;
    
    flex-direction: column;
}



.svg{
    width: 40%;
}

.p_fact{
    margin-bottom: 0;
}





/* contact us */
.contact_us{
    display:flex;
    width: 50%;
    align-items: center;

    flex-direction: column;
    text-align: center;

}

.contact_detail{
    font-size: 1.3em;
    margin: 40px 0;
}

.img_content_map{
    width: 50%;
    margin-bottom: 5px;
}