@media (min-width:1024px){


/* egarder object-fit:*/
html{
    font-family: "lisu Bosa" sans-serif;
    font-size: 17px;
}

.main_container{
    width: 100%;
}

body{
    margin: 0;
    padding: 0;
}

/* Header*/

header {
    position: relative;
    width: 100%;
    
    overflow: hidden;
    display: flex;
    flex-direction: column;

}

header video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.top_header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;


}

.header_side_barre {
    display: none;
}

.header_left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.header_nav {
    display: flex;
    justify-content: center;
}

.header_a {
    color: white;
    padding: 10px;
    text-decoration: none;
}

.header_reseau_sociaux {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}

.header_reservation {
    background-color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    padding: 7px;

}

.header_contact {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}





.middle_header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    color: #FFF;
    font-weight: bolder;
    padding-bottom: 100px;

}

.big_title {
    font-size: 5em;
}

.tripadvisor {
    height: 30px;
}

/* preambul */
.preambul{
    background-color: rgb(49, 48, 48);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 15%;
    color:white;
}

/* Content */

.content{
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
}

.content_reverse{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 80px;
}

.img_content{
    width: 50%;
    object-fit: fill;   
}



.title_content{
    color:rgb(148, 197, 205);
    display:flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
}
.title_content::before{
    content:"";
    width: 10px;height: 1px;
    background-color :rgb(148, 197, 205);
    position:relative;
    top:50%;left:-15px
    
}
.title_content::after{
    content:"";
    width: 10px;height: 1px;
    background-color :rgb(148, 197, 205);
    position:relative;
    bottom:50%;left:105%
    
}

span{
    color:black;
    font-size: 2.6em;
    margin-top: 15px;
}

.a_content{
    text-decoration: none;
    color:white;
    background-color: rgb(148, 197, 205);
    padding: 5px 20px;
}
/* Hightlights*/


.highlights_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
}


/* Menu */
.menu_content{
    display: flex;
    width: 50%;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

}   

.container_menu_content{
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    width: 100%;
    margin: 40px 0;
   
}

.presentation_menu{
    display:flex;
    border-bottom:1px dashed black;
    justify-content: space-between;
    font-weight: bold;
}

.menu_ingredient{
    font-size: 0.7em;
    color:rgb(92, 92, 92);
    font-style: italic;
}

.menu_column_one{
    width: 40%;
}

/* Fact */ 



.fact{
    width: 50%;  
    display: flex;
    align-items: center;
    flex-direction: column;  
    justify-content: flex-end;
    margin-top: -60px ;
   
}



.div_container_div_svg1,.div_container_div_svg2{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    margin-top: 25%;
}



.layout_div_svg{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    margin-bottom: 0;
    
}




.fact_top{
    display: flex;
    align-items: center;
    
    flex-direction: column;
}



.svg{
    width: 40%;
}

.p_fact{
    margin-bottom: 0;
}





/* contact us */
.contact_us{
    display:flex;
    width: 50%;
    align-items: center;

    flex-direction: column;
    text-align: center;

}

.contact_detail{
    font-size: 1.3em;
    margin: 40px 0;

    
}

.img_content_map{
    width: 50%;
    margin-bottom: 4px;
    display: flex; 
}


/* Footer */

footer {
    background-color: black;
}

.footer_by_two {
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: row;
    padding-top: 4%;
    padding-bottom: 4%;

}

.footer_txt_one,
.footer_txt_two {
    width: 50%;
    display: flex;
    flex-direction: row;

}



.footer_content_one {
    width: 60%;
    display: flex;
    flex-direction: column;
    color: rgb(167, 167, 167);
    margin-left: 15%;
}

.footer_content_two {
    width: 40%;
    display: flex;
    flex-direction: column;
    color: rgb(167, 167, 167)
}

.footer_content_three {
    width: 40%;
    display: flex;
    flex-direction: column;
    color: rgb(167, 167, 167);

}

.footer_content_four {
    width: 60%;
    display: flex;
    flex-direction: column;
    color: rgb(167, 167, 167);

}

.footer_end {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 7.5%;
    color: rgb(167, 167, 167);
    margin-bottom: 2%;
}

.tripadvisor2 {
    height: 30px;
    position: relative;
    top: 8px
}

.container_img_footer {
    display: flex;
}

.img_footer {
    width: calc(100%/8);
}

.footer_title {
    color: white;
    font-size: 1.2em;
    font-weight: bolder;
}

.footer_a {
    text-decoration: none;
    color: rgb(167, 167, 167)
}
}